Package: com.archergs.hidemecontactbanner
Name: HideMeContactBanner
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: archergs
Author: archergs
Section: Tweaks
Version: 0.0.1-11+debug
Installed-Size: 248
